.container {
    margin: auto;
    margin-bottom: 60px;
    padding: 60px;
    width: 400px;
    background-color: rgba(217, 213, 213, 0.5);
    box-shadow: rgb(0 0 0 / 12%) 0px 1px 3px, rgb(0 0 0 / 14%) 0px 1px 1px,
        rgb(0 0 0 / 20%) 0px 2px 1px;
    border-radius: 5px;
}

.profile {
    background-color: #fff;
    width: auto;
    padding-top: 30px;
    border-radius: 5px;
    box-shadow: rgb(0 0 0 / 12%) 0px 1px 3px, rgb(0 0 0 / 14%) 0px 1px 1px;
           
}

.description {
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    color: black;
    margin-bottom: 20px;
}

.avatar {
    width: 240px;
    margin-bottom: 8px;
    border-radius: 50%;
}

.name {
    margin-bottom: 8px;
    font-size: 30px;
}

.tag {
    margin-bottom: 8px;
    color: gray;
}

.location {
    color: gray;
}

.stats {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.stats>li {
    border: 1px solid rgba(157, 167, 167, 0.281);
    text-align: center;
    width: calc(100% / 3);
    padding: 20px 5px;
    background-color: rgba(210, 223, 236, 0.637);
}

.label {
    display: block;
    margin: 0 auto 3px;
    font-size: 16px;
    color: gray;
}

.quantity {
    font-weight: 500;
}